<%- include('partials/header.ejs') %>
<head>
   <link rel="stylesheet" href="styles/layout.css">
   <link rel="stylesheet" href="styles/content.css">
</head>
<body>
   <div class="container">
   <h1>WELCOME TO MACHINE'S TO-DO APP</h1>
   <P>When it's moves it's mechanical let <br> Make Your Activities Mechanical</P>
   <p>Already have an account? <a href="/login">LOGIN</a> </p>
   <p><a href="/signup">SIGNUP</a></p>
   </div>
   
</body>

<%- include('partials/footer.ejs') %>