<%- include("partials/header.ejs") %>
<head><link rel="stylesheet" href="styles/form.css"></head>

<div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter your username">
        <input type="password" name="password" placeholder="Enter your password">
        <input type="submit" class="button" value="Login">
      </form>
    </div>
    
</div>
<!-- <%- include("partials/footer.ejs") %>  -->