<%- include("partials/header.ejs") %>
<head><link rel="stylesheet" href="styles/form.css"></head>

<div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="#">
        <input type="text" placeholder="Enter your email">
        <input type="password" placeholder="Enter your password">
        <input type="button" class="button" value="Login">
      </form>
    </div>
    
</div>
<!-- <%- include("partials/footer.ejs") %>  -->