<%- include("partials/header.ejs") %>
<html lang="en">
<head>
  <title>signup</title>

  <link rel="stylesheet" href="styles/form.css">
</head>
<body>
    <div class="container">
        <div class="signup form">
          <header>Signup</header>
          <form action="/signup", method="post">
            <input type="text" name="username" placeholder="Enter your username">
            <input type="password" name="password" placeholder="Create your password">
            <input type="submit" class="button" value="signup">
          </form>
        </div>
        
    </div>
</body>
</html>

  <!-- <%- include("partials/footer.ejs") %>  -->